.things {
  margin-top: 10em;
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-row-gap: 0.3em;
  grid-column-gap: 0.3em;
}

.onething{
  text-align: center;
  height: 8em;
  background-color: #dcdada87;
}

.logo {
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/827695-200.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.increase {
  background-color: #e45f5fad;
}

.decrease {
  background-color: #8db1eaad;
}
