#welcome {
  margin-top: 2em;
  font-family: Work Sans;
  font-size: 3em;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.things {
  margin-top: 3em;
  width: 50%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-row-gap: 0.3em;
  grid-column-gap: 0.3em;
}

.onething{
  text-align: center;
  height: 8em;
  background-color: #dcdada87;
}

.description {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#number {
  margin-top: 0.5em;
  font-size: 2em;
  letter-spacing: 0.3em;
}

#logo {
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/827695-200.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#increase {
  background-color: #e45f5fad;
}

#decrease {
  background-color: #8db1eaad;
}

#mode {
  background-color: #bbb3b3c2;
  font-family: Work Sans;
  margin-top: 1em;
}

#usageinfo {
  background-color: #bbb3b3c2;
  font-family: Work Sans;
  margin-top: 1em;
}

p1 {
  font-family: Work Sans;
  font-size: 1em;
  margin-top: 3em !important;
}

#usage_color {
  margin-top: 1em;
  height: 2em;
}

.low-usage {
  background-color: green;
}

.medium-usage {
  background-color: orange;
}

.high-usage {
  background-color: red;
}
