
#welcome {
  margin-top: 2em;
  font-family: Work Sans;
  font-size: 3em;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.things {
  margin-top: 3em;
  width: 40%;
  margin-left: 30%;
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.7fr;
  grid-row-gap: 0.3em;
  grid-column-gap: 0.3em;
}

.onething{
  text-align: center;
  height: 8em;
  background-color: #dcdada87;
}

.description {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.input_form {
  width: 2em;
}

.increase_form {
  margin-top: 4em;
}

.submit_button {
  background: #b6b6b6;
  font-family: Work Sans;
  border-radius: 2em;
  transition: all .4s ease-in-out;
}

.submit_button:hover {
  transform: scale(1.1);
  background-color: #eaca1f;
  box-shadow: 0px 0px 30px grey;
}


#increase {
  background-color: #e45f5fad;
  background-image: url("https://png.icons8.com/ios/1600/collapse-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all .4s ease-in-out;
}

#increase:hover {
  transform: scale(0.9);
}

#decrease {
  background-color: #8db1eaad;
  background-image: url("https://png.icons8.com/ios/1600/expand-arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all .4s ease-in-out;
}

#decrease:hover {
  transform: scale(0.9);
}

#number {
  margin-top: 0.8em;
  font-size: 2.1em;
  text-align: center;
  width: 100%;
  font-family: Orbitron;
}

#mode {
  background-color: #bbb3b3c2;
  font-family: Work Sans;
  margin-top: 1em;
}

#usageinfo {
  background-color: #bbb3b3c2;
  font-family: Work Sans;
  margin-top: 1em;
}

#usage_color {
  margin-top: 1em;
  height: 2em;
}

#reset {
  background-image: url("http://www.iconarchive.com/download/i7902/hopstarter/soft-scraps/Button-Blank-Gray.ico");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  transition: all .4s ease-in-out;
}

#reset:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 10px grey;
}

#switch {
  background-image: url("http://www.iconarchive.com/download/i7902/hopstarter/soft-scraps/Button-Blank-Gray.ico");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  transition: all .4s ease-in-out;
}

#switch:hover{
  transform: scale(0.9);
  box-shadow: 0px 0px 10px grey;
}

p1 {
  font-family: Work Sans;
  font-size: 1em;
  margin-top: 3em !important;
}

.low-usage {
  background-color: #3e843eb5;
}

.medium-usage {
  background-color: orange;
}

.high-usage {
  background-color: red;
}

footer {
  text-align: center;
  background-color: #b1caf1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-block;
  overflow:hidden;
  margin-bottom: 0.2em;
}

footer img {
  height: 2em;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
